


@font-face {
   font-family: myFirstFont;
   src: url(../fonts/varelaround-regular.ttf);
}

* {
   font-family: myFirstFont;
}

.front-banner-box {
	position: relative;
	width: 100%;
	height: 800px;
	margin-top: 50px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    height: 800px;
    object-fit: cover;
}
.front-banner-box .front-banner-img img{
	
	background-size: cover;
	width: 100%;
	height: 100%;
}
.front-banner-box .front-banner-overlay {
	width: 100%;
	height: 100%;
	/*background: rgba(0, 0, 0, .5);*/
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	display: flex;
	    justify-content: center;
	    align-items: center;
}

.carousel-control.right, .carousel-control.left {
	background: none;
}


.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-item {
	flex-grow: 1;
	margin: 15px;
	flex-basis: 300px;
	position: relative;
	overflow: hidden;
	transition: all .3s;
	flex-basis: 250px;
box-shadow: 3px 4px 15px #0000003d;


transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1), transform .45s cubic-bezier(0.25, 1, 0.33, 1), border-color .45s cubic-bezier(0.25, 1, 0.33, 1), color .45s cubic-bezier(0.25, 1, 0.33, 1), background-color .45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow .45s cubic-bezier(0.25, 1, 0.33, 1);



}

.flex-item:hover {
	box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16)!important;
	    -ms-transform: translateY(-7px);
	    transform: translateY(-7px);
	    -webkit-transform: translateY(-7px);
	    color: #fff;
}


.flex-item img{
	width: 100%;
	height: 100%;
    object-fit: cover;
transition: all .4s;
}

.flex-item:hover img{
	transform: scale(1.2);
}
.flex-item .title {
	text-align: center;
	    display: block;
	    padding: 5px;
	    font-size: 16px;
	    position: absolute;
	    bottom: 0;
	    background: #00000029;
	    color: #fff;
	    margin-bottom: 1px;
	    width: 100%;
}

.spacethis {
	padding: 50px 0;
}
.search-box {
	width: 500px;
	    background: #ffffff87;
	    border-radius: 3px;
	    padding: 12px;
	    box-sizing: content-box !important;
	    box-shadow: 2px 2px 10px #00000029;
}
.search-box input {
	width: 78% !important;
	
	box-shadow: none;
	border: none;
	outline: none;
	/*font-size: 16px;*/
	padding: 10px;
	color: #333;
}
.search-box .btn {
	padding: 10px 24px;
	    background: #006df5;
	    margin-left: 1px;
}
.search-box input , .search-box .btn {
	height: 45px;
}

.form-inline {
	margin-top: 30px;
}

.sidebar {
	    padding: 0;
    background: #f3f3f3;
    min-height: 100vh;
}

.strip {
	margin-top: 51px;
	    background: #f3f3f3;
	    padding: 10px;
	    width: 100%;
	    font-size: 18px;
	    color: #398eaf;
}

.bsc {
	background: linear-gradient(to bottom,#489dba 0%,#2e82a7 51%,#166d98 100%);
	    margin-top: 50px;
	    padding: 10px;
	    color: #fff;
}
.cat-list {
	padding: 0;
	list-style: none;
}
.cat-list li a {
	display: block;
	color: #464646;
	padding: 6px 15px;
	font-size: 16px;
	text-decoration: none;
}

.col_1-2 {
    width: 50%;
    float: left;
}

.right {
    text-align: right;
}
#footer .links {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}

#footer .links ul {
    padding: 0;
    margin: 0;
    list-style: none;
    clear: both;
    margin-left: -10px;
}

#footer .links ul li {
    float: left;
    border-right: 1px solid #666;
    line-height: 10px;
}

#footer .links ul li a {
    color: #666;
    font-size: 13px;
    padding: 0 10px;
}

#footer {
    width: 98%;
    padding: 1.5% 1%;
    float: left;
    border-top: 1px solid #cbccce;
}

#full_border h4 {
    display: inline;
    border-bottom: 3px solid #3697db;
    color: #010101;
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 5px;
}

#full_border {
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    padding-top: 5px;
    margin-bottom: 5px;
}